.box {
    width: 100px;
    height: 100px;
    border: 1px solid tomato;
    background-color: peachpuff;
    margin-top: 20px;
    /* property name / duration / easing function / delay */

    /* transition: width 5s linear , background-color 5s ease-in; */

    /* transition: width 10s 3s, transform 10s 3s, background-color 10s; */

    transition: transform 10s ease-in-out 3s;
}
.box:hover {
    /* width: 400px; */
    /* background-color: blue; */

    transform: rotate(45deg) scale(1.5) translateX(150px);
}